html {
  height: 100%;
  width: 100%;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  font-family: "Karla Regular", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  background: rgb(240, 242, 245);
}

.button,
.button:hover,
.button:focus {
  outline: 0;
  padding: 13px 18px;
  font-size: 18px;
  letter-spacing: 1px;
  transition: color 0.2s ease-in-out, background 0.2s ease-in-out,
    border 0.2s ease-in-out;
  border-radius: 4px;
  text-transform: capitalize;
  text-decoration: none;
  cursor: pointer;
  margin-bottom: 20px;
}

.button-container {
  height: 50px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

.description {
  font-size: 14px;
}

.image {
  width: 100%;
}

.image-container {
  width: 100%;
  max-width: 620px;
  margin: 0 auto;
  padding: 0 5px;
}

.info {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 96px;
}

.refresh {
  color: #fff;
  background-color: #025f6d;
  border: 2px solid #025f6d;
  float: right;
}

.refresh:hover {
  color: #eee;
  background-color: #04515d;
  border: 2px solid #04515d;
}

.report {
  color: #fff;
  background-color: #f56342;
  border: 2px solid #f56342;
  float: left;
}

.report:hover {
  color: #eee;
  background-color: #d24b2e;
  border: 2px solid #d24b2e;
}

.subtitle {
  margin: 2px 0 0 0;
  font-weight: normal;
}

.title {
  margin: 0;
}

.wrapper {
  padding: 20px 10px;
}
