/*
  // ============================================= //
  // Global CSS/SCSS Imports                       //
  // ============================================= //

    This file is for static imports from assets,
    images or from the node_modules folder.

    Please refrain from importing an asset within a
    partial scss file. This will cause pathing
    issues because the partial is then imported
    from the main 'src/styles/index.scss' file. For
    simplicity, import static fonts, images, and
    stylesheets from within in this file.

    local stylesheets:
    @import '../assets/styles/stylesheet.(s)css'

    local fonts:
    src: url('../assets/fonts/font.ext') format('ext')

    local images:
    src: url('../../images/imageFile.ext');

    node_modules (must be imported with a tilda (~)):
    @import '~ModuleName/path/to/stylesheet.(s)css';

    Component-level scss imports are similiar to the
    above examples as long as they contain relative
    pathing to the asset and are NOT partial scss
    files.
*/

// @import "~react-quill/dist/quill.snow.css";
@import "~froala-editor/css/froala_style.min.css";
@import "~froala-editor/css/froala_editor.pkgd.min.css";
@import "./antd.css";

.date-picker {
	input {
		cursor: pointer;
		padding: 14px 0 14px 48px !important;

		&::placeholder {
			color: #d3dce6;
		}
	}
}

.selector {
	& .ant-select-selection--single {
		height: 52px;
	}

	& .ant-select-selection-selected-value {
		padding: 11px 0 14px 38px;
		font-size: 20px;
	}

	& .ant-select-dropdown-menu-item {
		padding: 10px 12px;
		font-size: 18px;
	}

	& .ant-select-search--inline .ant-select-search__field {
		padding: 25px 0 28px 38px;
		font-size: 20px;
	}
}

.form-input {
	height: 52px;
	padding: 25px 0 25px 48px;
}

.select-placeholder {
	& .ant-select-selection__placeholder {
		padding: 10px 0 30px 37px;
		height: 100%;
		font-size: 20px;
		display: block !important;
	}
}

// .date-picker > div > input {
// 	padding: 14px 0 14px 48px !important;
// }

// .date-picker > div > input::placeholder {
// 	color: #d3dce6;
// }

@font-face {
	font-family: "Karla Regular";
	font-style: normal;
	font-weight: normal;
	src: url("../assets/fonts/Karla-Regular.ttf") format("truetype");
}
@font-face {
	font-family: "Karla Bold";
	font-style: normal;
	font-weight: normal;
	src: url("../assets/fonts/Karla-Bold.ttf") format("truetype");
}
@font-face {
	font-family: "Karla Italic";
	font-style: normal;
	font-weight: normal;
	src: url("../assets/fonts/Karla-Italic.ttf") format("truetype");
}
@font-face {
	font-family: "Karla Bold Italic";
	font-style: normal;
	font-weight: normal;
	src: url("../assets/fonts/Karla-BoldItalic.ttf") format("truetype");
}

.fr-toolbar.fr-top,
.fr-box.fr-basic {
	-moz-border-radius: 3px 3px 0 0;
	-webkit-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
}

.second-toolbar {
	-moz-border-radius: 0 0 3px 3px;
	-webkit-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
}

.fr-box.fr-basic {
	& .fr-element,
	& .show-placeholder {
		height: 200px;
		min-height: 200px;
		font-size: 18px;
		font-family: "Karla Regular", -apple-system, BlinkMacSystemFont, "Segoe UI",
			Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans",
			"Helvetica Neue", sans-serif;
	}

	& .fr-element {
		padding: 10px 20px;
	}
}

.ql-snow {
	& .ql-picker {
		&.ql-header {
			height: auto;
			width: 145px;
		}
	}
}

.ql-editor {
	font-size: 18px;
	font-family: "Karla Regular", -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
}

.ql-toolbar.ql-snow {
	background-color: #eaecec;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	padding: 4px;
}

.ql-container {
	height: 225px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}
